<div class="jumbtron">
    <h1 class="display-4 text-center">Contact Details</h1>
    <hr>
   
    <div class="row text-center" >
      <div class="col-md-2"></div>
      <div align="center" class="col-md-8">
        <app-add-contact>
  
        </app-add-contact>
      </div>
     
    </div>
  
    <div class="row text-center" >
      <div class="col-md-2"></div>
      <div align="center" class="col-md-8">
        <h3>Contact Details</h3>
        <app-list-contacts>
  
        </app-list-contacts>
      </div>
     
    </div>
  </div>
  